/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.title{
  display: inline-flex;
  margin: auto;
  align-items: center;
}

#fline{
  display:flex;
  justify-content: center;
  align-items: center;
}

#fline a{
  padding: 0.4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.3rem;
  background-color:#3a68df;
  border-radius: 2cqmin;
  color: white;
  text-decoration: none;
}

.menu{
  display: inline-flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.menu h2{
  text-align: left;
  font-size: 1.5rem;
}


.title img{
  width: 6rem;
  height: 6rem;
  margin-left: 1rem;
}

header, footer {
  background-color: #3a68df;
  color: #1d1d1d;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  color: white;
}

.script{
  border-style: dashed;
  border-color: #3a68df;
  border-radius:2cqmax;
}

main {
  margin: 1rem;
}
main h1{
  font-size: 2.5rem;
  text-align: center;
}

main h2{
  font-size: 2.2rem;
  text-align: center;
}

main h4{
  font-size: 1.2rem;
  text-align: center;
  
}

main p{
  font-size: 1.2rem;
  margin: 2rem;
}

article {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

article header {
  background-color: #eee;
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

article p {
  margin-bottom: 1rem;
}

article img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}

footer p {
  text-align: center;
  color: white;
}

.SSB{
  background-color: #F4CCCC;
}

.SAbroad{
  background-color: #FFF2CC;
}

.HOU{
  background-color: #D0E0E3;
}

.WCG{
  background-color: #CFE2F3;
}

.HPW{
  background-color: #EAD1DC;
}

.MWC{
  background-color: #FFC7CE;
}

.HB{
  background-color: #D3B8C8;
}

.CA{
  background-color: #E5E0B3;
}

.FA{
  background-color: #B7C8B5;
}

.GJMH{
  background-color: #B4C6E7;
}

.LIB{
  background-color: #D7BDE2;
}

.CCSC{
  background-color: #A4C2F4;
}

.BUS{
  background-color: #D9D9D9;
}

.CHSS{
  background-color: #FBD5AE;
}

.CHTH{
  background-color: #D9EAD3;
}

.ADM{
  background-color: #C9DAF8;
}

.UAC{
  background-color: #D9D2E9;
}

.TH{
  background-color: #F5B0CB;
}

.HH{
  background-color: #E6B8AF;
}

.SCI{
  background-color: #E5D0B1;
}

.SEIC{
  background-color: #D0E0E3;
}

.GYM{
  background-color: #C1D1C4;
}

.BH{
  background-color: #B2A1C7;
}

.PES{
  background-color: #A9CCE3;
}

.SHS{
  background-color: #B7C0C7;
}

.AGR{
  background-color: #F1C6B4;
}







/* .SSB header{
    background-color: #ff9a9a;

} */

/* Media queries */

/* Tablet layout */
@media (min-width: 768px) {
  main {
    max-width: 768px;
    margin: 1rem auto;
  }
  
  article {
    display: flex;
    flex-direction: column;
  }
  
  article img {
    margin: 1rem 0;
  }
}

/* Desktop layout */
@media (min-width: 1024px) {
  main {
    max-width: 1024px;
  }
  
  article {
    flex-direction: row;
  }
  
  article img {
    max-width: 50%;
    margin: 1rem;
  }
}
